/** CSS STYLES TO DEFAULT TO */
/* box-shadow: 4px 3px 3px black; */

/** COLOR SCHEME
--platinum: #D8DBE2;
--DevPair-Green: #3cebca;
--moonstone: #58A4B0;
--charcoal: #373F51;
--eerie-black: #1b1b1b;
*/

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  &::before, &::after {
    opacity: 20%;
    position: fixed;
    inset: 0;
    z-index: -1;
    --gradone: radial-gradient(at 20%, #D8DBE2, transparent 80%),
           radial-gradient(at 70% 40%, #373F51, transparent 80%);
    --mask: var(--gradone);
    -webkit-mask: var(--mask);
    -webkit-mask-composite: intersect;
    content: '';
  }
  &::before {
    background: #000;
    filter: url(#f)
  }

  &::after {
    background: linear-gradient(90deg, #3cebca, #58A480 80%);
  }

}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
