/** CSS STYLES TO DEFAULT TO */
/* box-shadow: 4px 3px 3px black; */

/** COLOR SCHEME
  --text: #E5F2E3;
  --background: #080c0b;
  --primary:#20CC09;
  --dark-text: #0a0f0e;
  --primary-opacity: rgb(32, 204, 9, .3);
  --corner-background:hsl(113, 78%, 12%)
*/

:root {
  --text: #e5f2e3;
  --background: #080c0b;
  --primary: #20cc09;
  --dark-text: #0a0f0e;
  --primary-opacity: rgb(32, 204, 9, 0.3);
  --corner-background: hsl(113, 78%, 12%);
}

#root {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  background: linear-gradient(
    to top left,
    var(--corner-background) 0%,
    var(--background) 30%
  );
  background-attachment: fixed;
  margin: 0;
  width: 100dvw;
}

main {
  flex: 1;
  width: 100%;
  max-height: 90vh;;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}


li {
  list-style-type: none; /* Remove default list style */
}

.accent {
  color: var(--primary);
}

::-webkit-scrollbar {
  display: none;
}

.errors {
  color: red;
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
}
