#main-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

#video-main-wrapper {
    /* min-height: calc(100dvh - 3.5rem); // this is a cheat to fix the footer */
    /*!!! THIS SETS THE CONTENT BODY TO NOT OVERFLOW AND FIXES THE FOOTER TO BE ON THE BOTTOM  */
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

#button-wrapper > h1 {
    text-align: center;
}

#video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#button-wrapper {
    text-align: center;
}

#button-wrapper > button {
    color: black;
    background-color: #20cc09;
    height: 3rem;
    width: 10rem;
}

#video-container, #paired-chat-container, #ide-container, #screen-share-container {
    display: flex;
    flex-direction: column;
}

#paired-chat-container {
    margin: 0 0.7rem;
}

#ide-container {
   width: 100vw;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#screen-share-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#screen-share-container > div > div > video {
    width: 192;
    height: 108;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    object-fit: contain !important;
}
#screen-share-container > div > div {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: transparent !important;
}
#screen-share-container > div {
    width: 100%;
    height: 100%;
}

#messages-container {
    height: 100%;
}

#paired-chat-container {
    justify-content: space-between;
    align-items: center;
}

#share-screen-button {
    color: black;
    padding: 5px;
    border-radius: 4px;
}
