.videos {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 50%;
  border: solid var(--primary-opacity) 0.1rem;
  overflow: hidden;
  position: relative;

}

#video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;
  flex: 1;
  padding-left: 0.5rem;
}

.cat-waiting {
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
}

#follow-user {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-opacity);
    max-width: fit-content;
    padding: .2rem;
    border: none;
    cursor: pointer;
    z-index: 2;
    border-radius: .2rem;
    font: 1vw;
    font-weight: 500;

}

#follow-user:hover {
    background-color: var(--primary);
    color: var(--dark-text)
}

.video-username {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding-left: .2rem;
}