#profile-main {
    width: 100%;
}

#profile-header {
    display: flex;
    height: 5%;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5vw;
    gap: .5rem;
    padding-bottom: .5rem;
    border-bottom: var(--primary-opacity) solid .1rem;
}

#edit-profile-mode {
    background-color: var(--primary);
    color: black;
    height: 2rem;
    width: 10rem;
}

#profile-split {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}

#profile-content {
    display: flex;
    flex-direction: column;
}

#info-container{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

#pfp {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pfp > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#info > * {
    font-size: 0.8rem;
}

#info > span:first-child {
    font-size: 1.3rem;
}

#profile-about > div {
    font-size: 1.1rem;
}

#profile-about > p {
    font-size: 0.8rem;
}

.profile-buttons-container {
    display: flex;
    gap: .3rem;
}

#info-container {
    padding-bottom: 1rem;

}
