.profile-dropdown {
    display: flex;
    flex-direction: column;
  }

  .hidden {
    display: none;
  }

  .logo-for-nav {
    height: 3.5rem;
    margin-left: 1rem;
  }

  .nav-container {
    width: 100%;
    height: 3.5rem;
    padding: 1rem 0;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .nav-links-login-and-signout {
    display: flex;
    justify-content: space-between;
  }

  .nav-links-login-and-signout > div > a {
    color: #3cebca
  }

  .nav-links-login-and-signout {
    gap: 3rem;
  }

  .nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
  }
