.nav-container {
  background-color: var(--background); /* Using custom color variable */
  padding: 1em; /* Using em units for padding */
  max-width: 100%;
}


.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 13vw; /* Using em units for max-width */
}

.nav-links-other {
  display: flex;
}

.nav-links-login-and-signout {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 1rem;
  font-size: 1.5vw; 
}



.nav-links-login-and-signout div {
  color: var(--text); /* Using custom color variable */
  text-decoration: none;
  position: relative;
}

.nav-links-login-and-signout div::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .1rem;
  background-color: #20CC09; /* Color of sliding border */
  transition: width 0.3s ease; /* Transition for width */
}

.nav-links-login-and-signout div:hover::after {
  width: 100%; /* Slide in border from left to right on hover */
}



/* @media screen and (max-width: 48em) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links-other {
    margin-top: 1em; 
  }

  .nav-links-other div {
    margin-right: 0;
    margin-bottom: 0.5em; 
  }
} */
