/* .profile-dropdown {
    display: flex;
    flex-direction: column;
  } */

  .hidden {
    display: none;
  }

  .nav-links-home {
    display: flex;
    align-items: center;
    width: auto;
  }

  .logo-for-nav {
    cursor: pointer;
    /* border: 2px solid red; */

    /* margin-left: 1rem; */
  }

  .cat {
    width: 10%;
  }
  
  .name {
    width: 25%;
    margin-left: -.5rem;
  }

  .nav-container {
    width: 100%;
    height: 10vh;
    padding: 1rem;
    /* border: 2px solid red; */
    /* background-color: white; */
  }

  .nav-links-other {
    margin-left: auto;

  }

  .nav-links {
    display: flex;
    height: 100%;
    align-items: center;
    /* border: 2px solid yellow; */

  }

  .nav-links-login-and-signout {
    display: flex;
    justify-content: space-between;
    /* padding-right: 35px; */
    
  }

  .nav-links-login-and-signout > div > a {
    color: var(--text);
    position: relative;

  }

  .nav-links-login-and-signout {
    gap: 1rem;
  }

  .nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .nav-links-login-and-signout > div > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .1rem;
    background-color: #20CC09; /* Color of sliding border */
    transition: width 0.3s ease; /* Transition for width */
}

.nav-links-login-and-signout > div > a:hover::after {
    width: 100%; /* Slide in border from left to right on hover */
}
