/* Dropdown Button */
.profile-dropdown {
    position: relative;
    padding-top: .2rem;
}

#options-button {
    width: 100%;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
#options-icon {
    max-width: 100%;
}

/* Dropdown Content */
.dropdown-container {
    position: absolute;
    right: 0;
    border-radius: .5rem;
    padding: 15px;
    background-color: #1b1b1b;
}

.dropdown-list {
    text-align: center;
}

.user-profile-dropdown-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: .8rem;
    gap: .5rem;
    width: 5rem;
}

.logout-button, .profile-setings-button {
    border: none;
    background: none;
}

.profile-dropdown-welcome {
    border-bottom: 1px solid;
}

.hidden {
    display: none;
}
