/* Dropdown Button */
.profile-dropdown {
    position: relative;
    top: 10px;
    right: 20px;
}

#options-button {
    position: fixed;
    top: 0;
    right: 10px;
    border: none;
    background: none;
}

/* Dropdown Content */
.dropdown-container {
    position: relative;
    top: 70px;
    right: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #1b1b1b;
}

.dropdown-list {
    text-align: center;
}

/* .dropdown-list > div {
    width: 10rem;
    margin: 4px 0;
} */

.user-profile-dropdown-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: .8rem;
    gap: .5rem;

}

.logout-button, .profile-setings-button {
    border: none;
    background: none;
}

.profile-dropdown-welcome {
    border-bottom: 1px solid;
}
