.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 100%;
  gap: .5vw;
}

#toggle-mute {
  color: black;
  border-radius: 4px;
}

#volume-slider {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.PB-range-slider {
  -webkit-appearance: none;
  height: 4px;
  border-radius: 5px;
  background: #d5dbe1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.PB-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #20cc09;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

.PB-range-slider-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px #1f1e241f;
}

.PB-range-slidervalue {
  font-weight: 600;
}

/*------ Settings ------*/
.container {
  /* --color: #a5a5b0; */
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  /* color: var(--color); */
}

.container .microphone-slash {
  animation: keyframes-fill 0.5s;
}

.container .microphone {
  display: none;
  animation: keyframes-fill 0.5s;
}

/* ------ On check event ------ */
.container input:checked ~ .microphone-slash {
  display: none;
}

.container input:checked ~ .microphone {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: #2b2d31;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}

#leave-room {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

#share-screen-button {
  width: 3rem;
  height: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2d31;
  border-radius: 100%;
  color: var(--text); /* Set text color */
}

#stop-screen-share {
  width: 3rem;
  height: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 100%;
  color: var(--text); /* Set text color */
}