
.landing-page-content {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.landing-page-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text-one {
    font-size: 2.8rem;
    font-weight: bold;
}

.text-two {
    font-size: 2.3rem;
}

.text-three {
    font-size: 2rem;
}

.home-page-get-started {
    width: 300px;
    border: none;
    border-radius: 7px;
    background-color: var(--primary);
    color: var(--dark-text);
    height: 75px;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.home-page-get-started:hover {
    transform: scale(1.1); /* Increase size on hover */
  }
