
.landing-page-content {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.landing-page-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text-one, .text-two, .text-three {
    color: black !important;
}

.text-one {
    font-size: 35px;
}

.text-two {
    font-size: 28px;
}

.text-three {
    font-size: 20px;
}

.home-page-get-started {
    width: 250px;
    border: none;
    border-radius: 5px;
    /* box-shadow: 2px 2px #3cebca; */
    background-color: #3cebca;
    color: white;
    height: 50px;
    font-size: large;
}
