.footer-container {

    position: fixed;
    bottom: 0rem;
    width: 100vw;
    background-color: #58a4b0de;
    padding: 1rem 0;
}

.footer-container > div {
    text-align: center;
    border-top: #1b1b1b solid 1px;
    border-bottom: #1b1b1b solid 1px;
    color: #373F51;
    font-weight: bold;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10rem;
    font-size: small;
}

.developer-links-container {
    display: flex;
    gap: .5rem;
}

.github, .linkedin {
    text-decoration: none !important;
    color: #373F51;
}

@media only screen and (max-width: 900px) {
    .footer-container {
        display: none;
    }

}

@media only screen and (max-height: 600px) {
    .footer-container {
        display: none;
    }

}
