.footer-container {

    position: fixed;
    bottom: 1rem;
    width: 100vw;
    background-color: #58A4B0;
    padding: 1rem 0;

}

.footer-container > div {
    text-align: center;
    border-top: #1b1b1b solid 1px;
    border-bottom: #1b1b1b solid 1px;
    color: #373F51
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10rem;
    font-size: small;
}

.developer-links-container {
    display: flex;
    gap: .5rem;
}

@media only screen and (max-width: 900px) {
    .footer-container {
        display: none;
    }

}
