.all-developers {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Ensure responsiveness */
    gap: 8rem;
    color: var(--text); /* Using custom color variable */
    height: fit-content;
    max-height: 10vh;
    padding-bottom: .5rem;
    box-sizing: border-box;
    /* position: absolute; */
}

.developer-container {
    border-top: var(--primary-opacity) solid 0.01rem;
    border-bottom: var(--primary-opacity) solid 0.01rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    gap: .5rem

    /* border: red solid 2px; */

}

.developer-links-container {
    color: var(--primary); /* Using custom color variable */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem
    /* border: red solid 2px; */
}

.developer-links-container img {
    width: 18px;
    height: 18px;
}

.developer-github,
.developer-linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px), (max-height: 600px) {
    .all-developers {
        display: none; 
    }
}
