.login-component {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

}
.login-container {
    width: 20rem;
    height: 100%;
    border: rgba(128, 128, 128, 0.377) solid 1px;
    padding: 1rem;
    border-radius: 5px;

}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 1rem;
}

.login-form-button {
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: #373F51;
    height: 30px;
    margin-top: 20px;
}

.login-form-input {
    width: 242px;
    height: 25px;
    color: black;
}

.login-page-input-text {
    font-size: x-small;
    padding-bottom: 4px;
}

.login-demo-user {
    margin-bottom: 25px;
    border: none;
    text-decoration: underline;
    background-color: var(--dark-text);
}


.login-form-error {
    border-color: rgb(255, 145, 145);
    box-shadow: 0px 0px 3px  rgb(255, 145, 145);
    background-color: rgb(255, 186, 186) !important;
}

.login-error-text {
    font-size: x-small;
    color: rgb(255, 145, 145);
    margin-top: .2rem;
}
