.login-component {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.login-container {
    width: 20rem;
    height: 100%;
    border: rgba(128, 128, 128, 0.377) solid 1px;
    background-color: whitesmoke;
    border-radius: 5px;

}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 1rem;
}

.login-form-button {
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: #3cebca;
    color: #373F51;
    height: 30px;
    margin-top: 20px;
}

.login-form-input {
    width: 242px;
    height: 25px;
}

.login-page-input-text {
    font-size: x-small;
    padding-bottom: 4px;
}

.login-demo-user {
    margin-bottom: 25px;
    border: none;
    text-decoration: underline;
}
