.login-component {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.login-container {
    width: 20rem;
    height: 100%;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 1rem;
}

.login-form-button {
    width: 250px;
    border: none;
    box-shadow: 2px 2px #3cebca;
    background-color: #3cebca;
    color: white;
    height: 30px;
}

.login-form-input {
    width: 242px;
}
