#share-screen-button {
    color: black;
}
#vid {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.7rem;
}


#screenshare-container > div > div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: transparent !important;
    object-fit: contain !important;
}

#screenshare-container > div > div > div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
    object-fit: contain !important;
}

#screenshare-container > div > div > video {
    object-fit: contain !important;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
}
