.landing-page {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden; /* Prevent content overflow */


}

.landing-page-description {
  flex: 1; /* Take up remaining space */
  max-width: 100%; /* Allow description to take up to 50% of parent */
  text-align: center;
  /* border: red solid 2px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;

}

.landing-page-cool-image {
  flex: 1; /* Take up remaining space */
  max-width: 40%; /* Allow image to take up to 50% of parent */
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.landing-page-cool-pic {
  width: 100%;
  margin-right: -5vw;
}

.landing-page-get-started {
  border: none;
  padding: 0 1vw; /* Adjust padding using viewport width unit */
  border-radius: .5rem;
  background-color: var(--primary);
  color: var(--dark-text);
  font-size: 1.7vw; /* Adjust font size using viewport width unit */
  font-weight: 500;
  transition: transform 0.3s ease;
}

.landing-page-get-started:hover {
  transform: scale(1.05);
}

.landing-text-one {
  font-size: 2vw; /* Adjust font size using viewport width unit */

}

.landing-text-two {
  font-size: 1.7vw; /* Adjust font size using viewport width unit */

}

.landing-text-three {
  font-size: 1.6vw; /* Adjust font size using viewport width unit */
}


@media only screen and (max-width: 768px) {
  .landing-page {
    flex-direction: column; /* Stack content vertically on small screens */
  }

  .landing-page-description {
    max-width: 100%; /* Allow both description and image to take full width on small screens */
    margin-top: -10vw;;
  }

  .landing-page-cool-pic {
    margin-right: 0;
    object-fit: cover;

  }

  .landing-page-cool-image {
    max-height: fit-content;
    justify-content: center;
    align-items: center;
    max-width: 70%;
  }

  .landing-text-one {
    font-size: 3vw; /* Adjust font size using viewport width unit */
  
  }
  
  .landing-text-two {
    font-size: 2.5vw; /* Adjust font size using viewport width unit */
  
  }
  
  .landing-text-three {
    font-size: 2.3vw; /* Adjust font size using viewport width unit */
  }
}