.landing-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.landing-page-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.landing-page-get-started {
  width: fit-content;
  border: none;
  padding: 0.4rem 0.8rem 0.4rem;
  border-radius: 7px;

  background-color: var(--primary);
  color: var(--dark-text);
  height: 50px;
  font-size: 1.4rem;
  font-weight: 500;
  /* margin-top: 15px; */
  transition: all 0.3s ease;
}

.landing-page-get-started:hover {
  transform: scale(1.1); /* Increase size on hover */
}

#cool-image {
    position: absolute;
    top: 0;
    right: 0;

}

.landing-page-cool-image {
  position: relative;
  display: flex;
}

#cat-one {
  padding-right: .8rem;
}

#comic1-one {

}

#comic2-two {

}

#comic3-three {

}

#cat-two{
  padding-left: .8rem;
}

.comic-two {
  display: flex;
  justify-content: flex-end;
}

.landing-text-one {
  font-size: 1.8rem;
  font-weight: bold;
}

.accent {
  color: var(--primary);
}

.landing-text-two {
  font-size: 1.3rem;
}

.landing-text-three {
  font-size: 1rem;
}



.comic-one img {
  opacity: 0; /* Initially hide the image */
  animation: fadeIn 1.5s ease-in-out 1s forwards; /* Apply the animation */
}

.comic-two img {
  opacity: 0; /* Initially hide the image */
  animation: fadeIn 1.5s ease-in-out 2.5s forwards; /* Apply the animation */
}

.comic-three img {
  opacity: 0; /* Initially hide the image */
  animation: fadeIn 1.5s ease-in-out 4s forwards; /* Apply the animation */
}

.bouncy-cats-one {
  animation: bounce 2s infinite; /* Play the animation infinitely */
  animation-delay: 5s; /* Delay the animation for 5 seconds */
}

.bouncy-cats-two {
  animation: bounce 2.3s infinite; /* Play the animation infinitely */
  animation-delay: 5.2s; /* Delay the animation for 5 seconds */
}


@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Start and end position */
  }
  40% {
    transform: translateY(-20px); /* Bounce up */
  }
  60% {
    transform: translateY(-10px); /* Bounce down */
  }
}
