.signup-component {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.signup-container {
    width: 20rem;
    height: 100%;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 1rem;
}

.signup-form-input {
    width: 242px;
}

.signup-form-button {
    width: 250px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px #3cebca;
    background-color: #3cebca;
    color: #373F51;
    height: 30px;
}
