.signup-component {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.signup-container {
    width: 20rem;
    height: 100%;
    border: rgba(128, 128, 128, 0.377) solid 1px;
    border-radius: 5px;
    padding: 1rem;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 1rem;
}

.signup-form-input {
    width: 242px;
    color: var(--dark-text);
}

.signup-form-button {
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: #373F51;
    height: 30px;
    margin-bottom: 35px;
    margin-top: 20px;
}

.signup-page-input-text {
    font-size: x-small;
    padding-bottom: 4px;
}
